
    <!doctype html>
    <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Añadir Moto</title>
        <link rel="stylesheet" href="/stylesheets/style4.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
      </head>
      <body class="body">
    
        <%- include("navbar") %>
    
    

        <section class="container-fluid seccion">
            <div class="row row1">
                <div class="col-xl-5 col-lg-5  col1">
                    <img src="../images/todo/añadir.avif" alt="Registro">
                </div>
                <div class="col-xl-7 col-lg-7  col2">
        
                    <form class="form" action="/object/addMoto" enctype="multipart/form-data" method="post">

                        <h1>Añadir Moto</h1>
                        <div class="papa">
                        
                        <div class="input">

                            <input type="text" placeholder="Modelo" name="name">
                        </div>
           
                        <div class="input">
                            <input type="text" placeholder="Precio"
                            name="price">
                        </div>


        <div class="input">
            <textarea  class="area"  name="description" placeholder="Descripción" cols="30" rows="3"></textarea>

        </div>

        <div class="input">
                        
            <input type="file" name="img" >
            </div>

            <label for="user" class="userr">¿A que coleccionista pertenece?</label>

            <select name="id" class="areaa" >
                <option value="" selected disabled>Elige un coleccionista</option>
                <% resultUser.forEach(user => { %>
            <option value="<%= user.user_id %>"><%= user.name %></option>
            <% }) %>
           </select>
              
        </div>
        <input type="submit" value="
        motorcycle
           " class="button material-symbols-outlined">
        </div>
    </form>
          

</div>
</section>
    
    
    
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
      </body>
    </html>


   

